.send-input {
  display: flex;
  flex-direction: row;
  align-content: center;
  margin: 1% auto 0 auto;
  justify-content: space-around;
}
.send-input input {
  font-size: 1.2em;
  width: 70%;
  border: none;
  border-radius: 0.3em;
  box-shadow: 0 0 4px 0 rgb(116, 116, 116);
}
.send-input button {
  font-size: 1.2em;
  border: none;
  border-radius: 0.4em;
  width: 20%;
  box-shadow: 0 0 4px 0 rgb(116, 116, 116);
  background-color: #c5c5c5;
  transition: all 0.3s;
  cursor: pointer;
}
.send-input button:hover {
  background-color: #d3d3d3;
}
